*{
    text-align: center;
    justify-content: center;
    justify-items: center;
}


body {
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-image: url('background-celular.jpg');
        background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    }

footer {
    flex-shrink: 0;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}
