*{
    text-align: center;
    justify-content: center;
    justify-items: center;
}


body {
    background: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}




footer {
    flex-shrink: 0;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}
